<!DOCTYPE html>
<html>

<head>
    <% include ./template/head %>
    <link rel="stylesheet" href="css/index.css" >
</head>

<body>
    <div class="page">
        <!-- header -->
        <header class="bar bar-nav">
            <div class="searchbar">
                <a class="searchbar-cancel">Cancel</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id="search" placeholder="Search" />
                </div>
            </div>
        </header>
        <!-- search box -->
        <!-- Slider -->
        <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
            <div class="swiper-container" data-space-between='10'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://gw.alicdn.com/simba/img/TB1RPJIHpXXXXcmapXXSutbFXXX.jpg_q50.jpg" alt="" style="width:100%"/></div>
                    <div class="swiper-slide"><img src="https://gw.alicdn.com/tps/i1/TB1eqPcLpXXXXXPaXXXdIns_XXX-1125-352.jpg_q50.jpg" alt="" style="width:100%" /></div>
                    <div class="swiper-slide"><img src="https://img.alicdn.com/tps/TB1m06KLpXXXXbXXpXXXXXXXXXX-1125-352.jpg_q50.jpg" alt="" style="width:100%" /></div>
                </div>
            </div>
            <!-- items -->
            
                <div class="list-block" style="background:#fff;">
                    <div class="grid-demo">
                        <div class="row" style="padding-top:.5rem;padding-bottom: .3rem;">
                            <div class="col-25" style="text-align:center;">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="border-radius:3rem; width:3rem; height:3rem; ">
                                <span class="small">恒汇机电</span>
                            </div>
                            <div class="col-25" style="text-align:center;">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="border-radius:3rem; width:3rem; height:3rem; ">
                                <span class="small">世界城</span>
                            </div>
                            <div class="col-25" style="text-align:center;">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="border-radius:3rem; width:3rem; height:3rem; ">
                                <span class="small">德盈</span>
                            </div>
                            <div class="col-25" style="text-align:center;">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="border-radius:3rem; width:3rem; height:3rem; ">
                                <span class="small">宝新钢材</span>
                            </div>
                        </div>
                    </div>

                </div>
            
            
            <div class="list-group" style="background:#fff; margin-top: -0.3rem !important;">
                <div class="grid-demo content-padded">
                    <div class="row">
                        <div class="col-50">
                            <span class="red">热卖单品</span>
                            <span class="small">品牌联合  更加实惠</span>
                            <a href="#">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                            </a>
                        </div>
                        <div class="col-50">
                            <span>优惠30%</span>
                            <span class="small">每天都有不一样的惊喜</span>
                            <div class="row">
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="list-group" style="background:#fff; margin-top: -0.3rem !important;">
                <div class="grid-demo content-padded">
                    <div class="row">
                        <div class="col-50">
                            <span class="red">天天特价</span>
                            <span class="small">每天都有不一样的惊喜</span>
                            <a href="#">
                                <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                            </a>
                        </div>
                        <div class="col-50">
                            <span>更多优惠</span>
                            <span class="small">每天都有不一样的惊喜</span>
                            <div class="row">
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                                <div class="col-50">
                                    <a href="#">
                                        <img src="//gw.alicdn.com/simba/img/TB15tIjGVXXXXcoapXXSutbFXXX.jpg_q50.jpg" style="width:100%; padding-top: 5%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-title" style="text-align: center;">热卖单品</div>
            <div class="grid-demo">
                <div class="row" id="product_list_card">
                </div>
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
            </div>
            <div class="content-block-title"></div>
            <div class="content-block-title"></div>
        </div>

        <nav class="bar bar-tab">
            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>
                <span class="tab-label">主页</span>
            </a>
            <a class="tab-item external" href="/products">
                <span class="icon icon-star"></span>
                <span class="tab-label">产品</span>
            </a>
            <a class="tab-item external" href="/shopping">
                <span class="icon icon-cart"></span>
                <span class="tab-label">购物车</span>
            </a>
            <a class="tab-item external" href="/test">
                <span class="icon icon-settings"></span>
                <span class="tab-label">设置</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-me"></span>
                <span class="tab-label">个人中心</span>
                <span class="badge">2</span>
            </a>
        </nav>
    </div>
    <!-- bottom bar -->
    <% include ./template/foot %>
    <script src="js/index.js"></script>
    <script src="js/common.js"></script>
</body>

</html>
