<!DOCTYPE html>
<html>
	<head>
		<% include ../../template/head %>
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a href="#" class="icon icon-left pull-left"></a>
				<a href="#" class="icon icon-refresh pull-right"></a>
				<h1 class="title">详情页</h1>
			</header>
			<div class="content">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%;"></div>
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%"></div>
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>

				<div class="list-block">
					<ul>
						<a href="#" class="open-about">
							<li class="item-content item-link">
								<div class="item-inner">
									<div class="item-title">Name: </div>
									<div class="item-after">Durex</div>
								</div>
							</li>
						</a>
						
					</ul>
				</div>
			</div>

			<!-- pop up -->
			<div class="popup popup-about">
				<div class="content-block">
					<p>About</p>
					<p><a href="#" class="close-popup">Close popup</a></p>
					<p>More info...</p>
				</div>
			</div>
			
		</div>


		<% include ../../template/foot %>
		<script>
		$(document).on('click', 'popup-about', function() {
			$.popup('.popup-about');
		})
		</script>
	</body>
</html>