<!DOCTYPE html>
<html>
	<head>
		<% include ../../template/head %>
	</head>

	<body>
		<div class="page">
			<header class="bar bar-nav">
				<a href="#" class="icon icon-left pull-left"></a>
				<a href="#" class="icon icon-refresh pull-right"></a>
				<h1 class="title">详情页</h1>
			</header>

			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"></div>
				</div>
			</div>
		</div>


		<% include ../../template/foot %>
	</body>
</html>