<!DOCTYPE html>
<html>
	<head>
		<% include ../../template/head %>
		<link rel="stylesheet" href="../../css/product_detail.css" >
		<link rel="stylesheet" href="../../css/index.css" >
	</head>

	<body>
		<div class="page" id="product_detail">
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back"></a>
				<a href="#" class="icon icon-refresh pull-right"></a>
				<h1 class="title">详情页</h1>
			</header>
			<div class="content">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%;"></div>
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%"></div>
						<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="" style="width: 100%"></div>
					</div>
					<div class="swiper-pagination" style="line-height: 4 !important;"></div>
				</div>


				<div class="p_content">
					<div class="p_detail">
						<span class="price_title" id="p_name">2016最新款钱包</span>
						<p class="p_price">￥1000.00</p>
					</div>
				</div>

				<div class="list-block">
					<ul>
						<a href="#" class="open-about" data-popup=".popup-about">
							<li class="item-content">
								<div class="item-inner">
									<div class="item-title">商品名称: </div>
									<div class="item-after" id="p_color">Durex</div>
								</div>
							</li>
						</a>

						<a href="#" class="open-about" data-popup=".popup-about">
							<li class="item-content item-link">
								<div class="item-inner">
									<div class="item-title">型号: </div>
									<div class="item-after" id="p_size">Durex</div>
								</div>
							</li>
						</a>
						
					</ul>
				</div>
			</div>
			
			
			
			
		</div>

		<!-- pop up -->
		<div class="popup popup-about">
			<div class="content-block">
				<p>About</p>
				<p><a href="#" class="close-popup">Close popup</a></p>
				<p>More info...</p>
			</div>
		</div>


		<% include ../../template/foot %>
		<script src="../../js/product_detail.js"></script>
		<script src="../../js/common.js"></script>
	</body>
</html>