.p_detail {
	background: #fff;
	height: 4rem;
	padding: .5rem;
}
.p_content {
	width: 100%;
}
.p_price {
	color: red;
}
.price_title {
	font-size: 1.2rem;
	font-family: "微软雅黑", sans-serif;
}
.swiper-container {
	padding-bottom: 0 !important;
}
